HUGGINGFACE_API_TOKEN=hufaherGgsk_ezouUh1bFO4PZlVzqNBQWGdyb3FYrtSG1dGZJpwpRkcSSPFh81dx
GROQ_MODEL=llama-3.1-8b-instant
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-3.5-turbo
GROQ_API_KEY=xai-ghJv1NpsbEUuR0zucSz8z2IH5cgNzSimkifZob1oTAetgaScj9RaPLVgPPVAwJDmGCCKVdcmBxbFQNhp
GROQ-MODEL=LLAMA-3.1-88-INSTANT